// 加个背景图片
.is-3-column { 
    // background-image: url(https://res.lolicon.app/bilibili/bg_small.png);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    // background-color: #f5f5fa;
}

.navbar {
        background-color: rgba(255,255,255,.7);
}

// card自定义
.card {
    background-color: rgba(255,255,255,.7);
}

// 以下为本站样式
// .navbar, .footer {
//     background-color: #f5f5fa;
// }
